/* ************ Schriften zum Einfügen ******** */
/* 
font-family: SchriftDick, sans-serif;  

font-family: SchriftDickSchräg, sans-serif;  

font-family: SchriftSchräg, sans-serif;  

font-family: SchriftNormal, sans-serif;  

 */








/* ****************** font Family einbinden *********** */


@font-face {
    font-family: SchriftDick;
    src: url("/assets/fonts/Cormorant_Garamond_1/CormorantGaramond-SemiBold.ttf");
}

@font-face {
    font-family: SchriftDickSchräg;
    src: url("/assets/fonts/Cormorant_Garamond_1/CormorantGaramond-BoldItalic.ttf");
}

@font-face {
    font-family: SchriftSchräg;
    src: url("/assets/fonts/Cormorant_Garamond_1/CormorantGaramond-Italic.ttf");
}

@font-face {
    font-family: SchriftNormal;
    src: url("/assets/fonts/Cormorant_Garamond_1/CormorantGaramond-Light.ttf");
}






/* ******************* Schriften den Texten zuweisen ************* */

h1 {
    font-family: SchriftDickSchräg, sans-serif;
}


h2,
h3,
h4 {
    font-family: SchriftDick, sans-serif;
}

/* * Bildunterschrift */
figcaption {
    font-family: SchriftSchräg, sans-serif;
}

/* * p = header p + section p + aside p */
p {
    font-family: SchriftNormal, sans-serif;
}





/* ****************** Browser default Style auf 0 setzen ***********+ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}









/* ***************** html **************** */
html {
    font-size: 16px;
    max-width: 1440px;
    scroll-behavior: smooth;
}




/* ***************** img *************** */
/* * nur damit am Anfang die Bilder nicht zu groß sind und alles verzerren */
/* img {
    width: 300px;
}
 */




/* ***************** body ***************** */
/* ***************** body ***************** */
/* ***************** body ***************** */



body {
    background-color: rgb(233, 233, 224);
    color: #333;
    padding: 2vh 2vw 2vh 5vw;
}






/* **************** header ****************** */
/* **************** header ****************** */
/* **************** header ****************** */

header {
    height: 13vh;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
}

header>h1>span {
    font-size: 3rem;


}

header>section {
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
    padding: 0.5vh;
    font-size: 1.1rem;
}

header>section>p {
    font-size: 1.1rem;

}

/* * Vorsicht   macht Rahmen in Header    und  bei 3 Sections in   aside */
.doppelRahmen {
    border: 2px double black;
}




/* **************** main ****************** */
/* **************** main ****************** */
/* **************** main ****************** */







/* ************* Grid Style Start ************ */
main {
    height: 83vh;
    display: grid;

    /* * Vorsicht Bild bei figuare Img Küche ist zu klein und müsste
    * verzerrt werden, damit es ganze Spalte 3 ausfüllt,
        * deshalb Spalte 1+2 größer mit 1.2fr und Spalte 3 
        * kleiner mit 1.8 fr gemacht  
        * vorher war es 1fr 1fr 2fr 1fr    ;-( */
    grid-template-columns: 1.2fr 1.2fr 1.8fr 1fr;
    /* * 4 Spalten */
    grid-template-rows: 10% 15% 30% 1fr;
    /* * 4 Zeilen */

    grid-template-areas:
        " h2 h2 h2 aside"
        " sec1 sec2 secImg aside"
        " sec3 sec4 secImg aside"
        " sec5 sec6 secImg aside"
    ;
    row-gap: 10px;          /* * beeinflusst Margin h2 bottom und Abstand Zeilen */
    column-gap: 20px;
    /* * damit das Küchen Bild besser rein passt */

}





.sec1cookware {
    grid-area: sec1;
}

.sec2microwave {
    grid-area: sec2;
}

.sec3knifeCut {
    grid-area: sec3;
}

.sec4cooking {
    grid-area: sec4;
}

.sec5contact {
    grid-area: sec5;
}

.sec6death {
    grid-area: sec6;
}

.secImg {
    grid-area: secImg;
}

.aside {
    grid-area: aside;
}

/* ************* Grid Style Ende ************ */








/* ***************** h2 Grid Überschrift Burning ***** */

h2 {
    grid-area: h2;
    font-size: 2rem;
    text-align: center;
    /* * text in der Mitte links rechts */
    margin: auto 0;
    /* * text in der Mitte von oben und Unten */
}






/* ****************** h3 von Sections in Grid und    aside    *************** */

/* * Vorsicht formatiert auch h3 be aside mit */
h3 {
    font-size: 1.5rem;
}



/* ****************** p von Sections in Grid und     aside ************ */
p {
    font-size: 0.91rem;
    /* * max größe bevor es aus Rahmen geht
                                    * bzw. alles größer als 100vh wird
                                    * wenn man sagt das Zeitung nur eine Seiten sein soll */

}





/* ****************** Bild von Küche ************ */


.secImg>img {
    width: 98%;
    /* * Problem  Bild zu schmal 
                            * Problem das Seite ja nur eine Seite sein soll */

}











/* ********************** aside ********************  */

aside {

    display: flex;
    flex-direction: column;


    padding-top: 2vh;

    text-align: center;
}

aside>h4 {
    font-size: 1.5rem;
}

/* * alle 3 Sections in aside werden ausgerichtet und mit höhe versehen */
aside>section {
    height: 25vh;
    margin: 1.1vh 0;
    padding: 2vh 1vw;
}

aside>section:nth-of-type(1)>p:nth-of-type(1) {
    font-size: 2.7rem;
    font-weight: bold;
    font-family: SchriftDick, sans-serif;

}

/* aside>section:nth-of-type(2)>p:nth-of-type(1){
} */

aside>section:nth-of-type(2)>p:nth-of-type(2) {
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-position: under;
    margin-top: 0.5vh;
}

aside>section:nth-of-type(3) {
    background-image: url("../img/ikea-logo.png");
    background-size: contain;
    /* * damit es nicht verzerrt ist */
    background-repeat: no-repeat;
    /* * damit es nur 1x da ist */
    background-position: center;
    /* * damit es Mittig ist */
    background-clip: content-box;
    /* * damit ein padding entsteht */
}












/* *********************** media queries Start ******************* */
/* *********************** media queries Start ******************* */
/* *********************** media queries Start ******************* */





/* ***************** body ***************** */
/* ***************** body ***************** */
/* ***************** body ***************** */




@media only screen and (max-width: 600px) {
    body {
        padding: 1vh 1vw 1vh 2vw;
    }





/* **************** header ****************** */
/* **************** header ****************** */
/* **************** header ****************** */


/* **************** main ****************** */
/* **************** main ****************** */
/* **************** main ****************** */



/* ************* Grid Style Start ************ */

main {

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 10% 15% 30% 1fr 1fr 1fr;  

    grid-template-areas: 
    " h2 h2"
    " sec1 sec2 "
    " sec3 sec4"
    " sec5 sec6 "
    " secImg secImg"
    " aside aside"
   
    ;

    row-gap: 25px;    /* * h2 bekommt mehr Abstand zu Text
                    * section Zeilen Abstand wird größer
                    * wirkt nicht mehr so gequetscht */
}





/* ***************** h2 Grid Überschrift Burning ***** */

h2{
    font-size: 2.3rem;

}






/* ****************** h3 von Sections in Grid und    aside    *************** */

/* * Vorsicht formatiert auch h3 be aside mit */

h3{
    font-size: 2rem;


}







/* ****************** p von Sections in Grid und     aside ************ */

p {
    font-size: 1.1rem;
}







/* ****************** Bild von Küche ************ */

.secImg>img{
    width: 100%;
}












/* * */
}
/* *********************** media queries Ende ******************* */
/* *********************** media queries Ende ******************* */
/* *********************** media queries Ende ******************* */
